@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply text-center;
    @apply my-8;
  }

  h2 {
    @apply text-4xl;
    @apply text-center;
    @apply my-4;
  }

  h3 {
    @apply text-3xl;
    @apply text-center;
    @apply my-4;
  }

  h4 {
    @apply text-2xl;
    @apply text-center;
    @apply my-4;
  }

  h5 {
    @apply text-xl;
    @apply text-center;
  }

  h6 {
    @apply text-lg;
    @apply text-center;
    @apply my-4;
  }

  p {
    @apply text-sm;
    @apply my-4;
  }

  html {
    font-family: 'Roboto', sans-serif;
  }
}

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* overflow-x: hidden; */
  /* background-color: #121212; */
  @apply dark:bg-primary-bg;
}

body {
  color: white;
}

section {
  min-height: 100vh;
  margin: 10rem 0;
}

section:first-child {
  min-height: calc(100vh - 56px);
  margin: 56px 0 0 0;
}

hr {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-black dark:text-white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}
